{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">À la recherche d'un stage, d'un contrat d'apprentissage ou encore de professionnalisation ? </h1>
        {% include './partials/_searchbar.html.twig' %}
    </div>
{% endblock %}
