<div class="container">
    <div class="row mt-5">

    <div class="col">
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-briefcase"></i></span>
        <input type="text" class="form-control" placeholder="Intitulé du poste" aria-label="job">
        </div>
    </div>

    <div class="col">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked-alt"></i></span>
        <input type="text" class="form-control" placeholder="Ville" aria-label="city">
    </div>
    </div>

    <div class="col">
        <select class="form-select" aria-label="Type de contrat">

            <option selected>Type de contrat</option>
            <option value="S">Stage</option>
            <option value="A">Apprentisage</option>
            <option value="P">Professionnalisation</option>
        </select>
    </div>

    <div class="col">
        <button type="submit" class="btn btn-primary">Recherche</button>
    </div>

</div>
</div>